/* styles/Signin.css */


/* styles/signin.css */

.signin-container {
  text-align: center;
  background: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signin-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.signin-button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
